<div class="container">
  <div class="main-body">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img [src]="user?.profileImg" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{user?.fullName}}</h4>
                <p class="text-secondary mb-1">{{user?.job}}</p>
                <p class="text-muted font-size-sm">{{user?.nationality}}</p>
                <a href="https://twitter.com/BlackBullsClub_" class="btn btn-primary">Follow</a>
                <button class="btn btn-outline-primary">Message</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3 mb-3">
          <img [src]="user?.img" alt="Admin">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-globe mr-2 icon-inline">
                  <circle cx="12" cy="12" r="10"></circle>
                  <line x1="2" y1="12" x2="22" y2="12"></line>
                  <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z">
                  </path>
                </svg>LinkedIn</h6>
              <span class="text-secondary">Javier Lapuente Garcia</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-github mr-2 icon-inline">
                  <path
                    d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22">
                  </path>
                </svg>Github
              </h6>
              <span class="text-secondary">jlapuente</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-twitter mr-2 icon-inline text-info">
                  <path
                    d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z">
                  </path>
                </svg>Twitter
              </h6>
              <span class="text-secondary">{{user?.socialNetwork}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-instagram mr-2 icon-inline text-danger">
                  <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                  <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                  <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>Instagram
              </h6>
              <span class="text-secondary">jlapuente02</span>
            </li>
            <!-- <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
              <h6 class="mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em"
                  preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256"  class="feather feather-linkedin mr-2 icon-inline text-danger">
                  <path fill="#0A66C2"
                    d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4c-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009c-.002-12.157 9.851-22.014 22.008-22.016c12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453" />
                </svg>LinkedIn
              </h6>
              <span class="text-secondary">Javier Lapuente Garcia</span>
            </li> -->
          </ul>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Estadisticas
            </h6>
            <div *ngFor="let stat of user?.attributes">
              <small>{{stat.name}}</small>
              <div class="progress mb-3" style="height: 5px">
                <div class="progress-bar" role="progressbar" [ngStyle]="{width: stat.value}" [ngClass]="stat.class"
                  aria-valuenow="stat.value" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Nombre Completo</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{user?.fullName}}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Personalidad</h6>
              </div>
              <div class="col-sm-9 text-secondary" [innerHTML]="user?.personality">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Edad</h6>
              </div>
              <div class="col-sm-3 text-secondary">
                {{ user?.age}}
              </div>
              <div class="col-sm-3" style="border-left: 1px solid gray;">
                <h6 class="mb-0">Ciudad</h6>
              </div>
              <div class="col-sm-3 text-secondary">
                {{ user?.city}}
              </div>
            </div>
            <!-- <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Altura y Peso</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ user?.hw}}
              </div>
            </div> -->
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Skills</h6>
              </div>
              <div class="col-sm-9">
                <span class="badge badge-pill badge-primary" *ngFor="let stat of user?.skills">{{stat}}</span>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Experiencia
              laboral
            </h6>
            <div [innerHTML]="user?.workExperience"></div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2"></i>Educación
            </h6>
            <div [innerHTML]="user?.workExperience"></div>
          </div>
        </div>
      </div>
    </div>
  </div>